name : Python script

on:
  push:
    branches: 
      - main

jobs:
  runs-on: ubuntu-latest
  
  steps: 
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: print
      run: |
        echo "hello"
      

